.detail{
	width: 100%;
	background: #F2F2F2;
	display: flex;
	flex-direction: column;
	align-items: center;
	nav{
		width: 100%;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		.navbar{
			width: 1480px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.links{
				display: flex;
				a{
					padding: 10px 20px;
					color: #4B9CE2;
					font-size: 20px;
					font-weight: bold;
					letter-spacing: 0;
					cursor: pointer;
					span{
						margin-left: 5px;
					}
				}
			}
		}
	}
	.content{
		margin-top: 20px;
		margin-bottom: 211px;
		width: 1480px;
		height: 769px;
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		align-items: center;

		.image{
			margin-left: 15px;
			width: 700px;
			height: 737px;
			border-radius: 8px;
			img{
				width: 98%;
				height: 98%;
				border-radius: 8px;
			}
		}
		.info{
			margin-top: 30px;
			margin-left: 60px;
			display: flex;
			flex-direction: column;
			
			.title{
				color: #555555;
				font-size: 34px;
				line-height: 23px;
			}
			.properties{
				margin-top: 25px;
				width: 248px;
				color: #525252;
				font-size: 15px;
				line-height: 20px;
				display: flex;
				justify-content: space-between;
				.left{
					font-weight: bold;
				}
				.right{
					width: 110px;
				}
			}
			.price{
				margin-top: 30px;
				color: #525252;
				font-weight: bold;
				font-size: 25px;
				line-height: 23px;
			}
			.buttonCon{
				margin-top: 30px;
				display: flex;
				button{
					margin-right: 10px;
					width: 235px;
					height: 45px;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					border-radius: 8px;
					border: none;
				}
				.buy{
					background-color:#4B9CE2;
					color: #fff;
				}
				.offer{
					background-color: #F0F8FF;
					color: #4B9CE2;
				}
			}
			.description{
				margin-top: 30px;
				span{
					color: #525252;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
				}
				p{
					margin-top: 10px;
					color: #555555;
					font-size: 15px;
					line-height: 23px;
				}
			}
		}
	}
}