.detail{
	width: 100%;
	background: #F2F2F2;
	display: flex;
	flex-direction: column;
	align-items: center;
	.content{
		margin-top: 20px;
		margin-bottom: 211px;
		width: 1480px;
		height: 769px;
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		align-items: center;
		.image{
			margin-left: 15px;
			width: 700px;
			height: 737px;
			border-radius: 8px;	
			img{
				width: 100%;
				height: 100%;
				border-radius: 8px;
			}
		}
		.info{
			margin-top: 30px;
			margin-left: 60px;
			height: 737px;
			display: flex;
			flex-direction: column;
			
			.title{
				margin-bottom: 10px;
				color: #555555;
				font-size: 34px;
				line-height: 23px;
			}
			.properties{
				margin-top: 20px;
				width: 248px;
				color: #525252;
				font-size: 15px;
				line-height: 20px;
				display: flex;
				justify-content: space-between;
				.left{
					font-weight: bold;
				}
				.right{
					width: 110px;
				}
			}
			.price{
				margin-top: 30px;
				color: #525252;
				font-weight: bold;
				font-size: 25px;
				line-height: 23px;
				display: flex;
				flex-direction: column;
				span{
					width: 230px;
					height: 36px;
					margin-top: 10px;
					background: #F2F2F2;
					border-radius: 8px;
					padding: 0 10px;
					color: #B1B1B1;
					font-size: 15px;
					line-height: 20px;
					display: flex;
					align-items: center;
					strong{
						color: #525252;
					}
				}
			}
			.buttonCon{
				margin-top: 30px;
				display: flex;
				span{
					width: 235px;
					height: 45px;
					background-color: #FFF0E2 ;
					border-radius: 8px;
					color: #FAAD60;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				button{
					margin-right: 10px;
					width: 235px;
					height: 45px;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					border-radius: 8px;
					border: none;
					cursor: pointer;
				}
				.buy{
					background-color:#4B9CE2;
					color: #fff;
				}
				.offer{
					background-color: #F0F8FF;
					color: #4B9CE2;
				}
			}
			.description{
				margin-top: 30px;
				span{
					color: #525252;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
				}
				p{
					margin-top: 10px;
					color: #555555;
					font-size: 15px;
					line-height: 23px;
				}
			}
		}
	}
}

@media screen and (max-width: 1550px) {
	.detail{

		.content{
			width: 90%;
			.image{
				width: 50%;
				height: 80%;
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	.detail{
		.content{
			height: 100%;
			flex-direction: column;
			.image{
				margin-top: 20px;
				margin-left: 0px;
				width: 343px;
				height: 362px;
			}
			.info{
				margin-bottom: 50px;
				height: 362px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.detail{
		.content{
			width: 355px;
			height: 676px;
			.image{
				margin-top: 6px;
			}
			.info{
				width: 355px;
				padding: 0 10px;
				margin:0;
				margin-top: 10px;
				.title{
					font-size: 18px;
					line-height: 23px;
					order :1;
				}
				.price{
					margin-top: 0px;
					height: 27px;
					order :2;
					font-size: 20px;
					line-height: 23px;
					flex-direction: row;
					justify-content: space-between;
					span{
						margin: 0;
						font-size: 12px;
						line-height: 16px;
						width: 171px;
						height: 30px;
						strong{
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
				.properties{
					order :3;
					margin-top: 10px;
				}
				.buttonCon{
					position: relative;
					left: -20px;
					margin-top: 3px;
					width: 375px;
					height: 65px;
					background: #FFFFFF 0% 0% no-repeat padding-box;
					box-shadow: 0px -3px 8px #1E364814;
					order :4;
					align-items: center;
					justify-content: center;
					span{
						width: 356px;
						height: 45px;
					}

					button{
						margin:0;
					}
				}
				.description{
					order :5;
					margin-top: 0px;
					span{
						display: none;
					}
				}
			}
		}
	}

}