.leftSide{
    width: 835px;
    height: 100vh;
    background-image: url(../constants/images/login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}