.container{
	margin-top: 20px;
	width: 280px;
	height: 392px;
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.image{
		margin-top: 10px;
		width: 260px;
		height: 297px;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		border: none;

		img{
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}

	.info{
		margin-top: 5px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		line-height: 22px;

		.brand{
			color: #4B9CE2;
			font-weight: bold;
			font-size: 15px;
		}
		.color{
			color: #3E3E3E;
			font-size: 13px;
			span{
				font-weight: bold;
			}
		}
	}

	.price{
		margin-top: 26px;
		width: 100%;
		padding: 0 10px;
		color: #3E3E3E;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		text-align:left;
	}
}

@media screen and (max-width: 650px) {
	.container{
		margin-top: 10px;
		width: 173px;
		height: 266px;
		.image{
			width: 161px;
			height: 184px;
		}
		.info{
			flex-direction: column;
		}
	}
}